.main{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.content-heading h2{
text-transform: uppercase;
font-size: 32px;
color: #ffffff;
font-weight: 700;
letter-spacing: -1px;
/* color: #ffbaa5; */
margin-top: 0px;
margin-bottom: 25px;
text-shadow: 0px 1px #fff, 0px -1px #262F33;
line-height: 60px;
text-align: center;
}
.contact-address{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.contact-address ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.contact-address ul li i{
    margin-right: 5px;
}
.contact-content{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}