<section class="banner-section">
    <img src="assets/images/contactus-banner.png" alt="">
</section>
<section class="contact-form-section py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="background: #1f4363; color: white;">
                <div class="main">
                    <div class="content-heading">
                        <h2>CONTACT US</h2>
                    </div>
                    <div class="contact-content">
                        <p>If you have any query regarding to any courses or any project you can call us or mail us directly!</p>
                        <div class="contact-address">
                            <h4>GURUGRAM ADDRESS</h4>
                            <ul>
                                <li><i class="bi bi-geo-alt-fill"></i>M-31, first floor Old DLF Colony near FedEx courier Sector-14 Gurgaon 122001</li>
                                <li><i class="bi bi-phone-fill"></i>+91 9354210902</li>
                            </ul>
                        </div>
                        <div class="contact-address">
                            <h4>NOIDA ADDRESS</h4>
                            <ul>
                                <li><i class="bi bi-geo-alt-fill"></i>B-12 , Ground floor, Sector-2 Noida ,Uttar Pradesh,201301</li>
                                <li><i class="bi bi-phone-fill"></i>+91 8882940925</li>
                                <li><i class="bi bi-phone-fill"></i>+91 8882904484</li>
                            </ul>
                        </div>
                        <div class="contact-address">
                            <h4>CONTACT INFO</h4>
                            <ul>
                                <li><i class="bi bi-telephone-fill"></i>+91-124-4009305/4010968</li>
                                <li><i class="bi bi-phone-fill"></i>+91 9354210902</li>
                                <li><i class="bi bi-skype"></i> +1 (209) 753-4514</li>
                                <li><i class="bi bi-envelope-fill"></i>info@powermindtech.com.</li>
                                <li><i class="bi bi-envelope-fill"></i>enquiry@powermindtech.com.</li>
                            </ul>
                        </div>
                        <div class="contact-address">
                            <h4>WEBSITE</h4>
                            <ul>
                                <li><i class="bi bi-envelope-fill"></i>www.powermindtech.com</li>
                                <li><i class="bi bi-envelope-fill"></i>www.powermindtech.com/blog/</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-5">
                <form [formGroup]="contactForm">
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your name" formControlName="name">
                        <p class="error" *ngIf="contactForm.get('name').hasError('required') && (contactForm.get('name').touched || submitted)">* Name is required</p>
                    </div>
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your email" formControlName="email">
                        <p class="error" *ngIf="contactForm.get('email').hasError('required') && (contactForm.get('email').touched || submitted)">* Email is required</p>
                    </div>
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your contact" formControlName="contact">
                        <p class="error" *ngIf="contactForm.get('contact').hasError('required') && (contactForm.get('contact').touched || submitted)">* Name is required</p>
                    </div>
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your course" formControlName="course">
                        <p class="error" *ngIf="contactForm.get('course').hasError('required') && (contactForm.get('course').touched || submitted)">* Name is required</p>
                    </div>
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your message" formControlName="message">
                        <!-- <p class="error" *ngIf="contactForm.get('name').hasError('required') && (contactForm.get('name').touched || submitted)">* Name is required</p> -->
                    </div>
                    <div class="submitBtn">
                        <button type="button" (click)="submit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>