<section class="banner-section">
    <img src="assets/images/career-banner.jpg" alt="">
</section>
<section class="contact-form-section py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="background: #1f4363; color: white;">
                <div class="main">
                    <div class="content-heading">
                        <h2>APPLY FOR TRAINER</h2>
                    </div>
                    <div class="contact-content">
                        <p>Regardless of whether you are a new alumni starting your career or an accomplished proficient hoping to quicken your career development, Power Mind Technologies can be your foundation to improve your career. Go along with one of India's biggest Training Provider and work in a situation for an energizing career of learning, improvement and worth driven execution connected development.<br>
                            we are perceived as one of the main specialists in the structure, improvement and conveyance of specialized and delicate abilities training - from singular courses and classes to confirmation projects and full-scale training arrangements. We have tie up with STERIA (XANSA), HCL, Sky Workz, Outworx, Green Ply, Unipatch Rubbers, SDG, Birla Soft, Perrot frameworks, Oracle and numerous other driving organizations. As the understudy draws nearer to complete the course we will give the authentication and offers enlistment to the understudies into marked organizations, we will give you 100% employment help with IT marked organizations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>