<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="section-img">
                    <img src="assets/images/footer1.png" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="section-content">
                    <h4>TRAINING FOR COLLEGE CAMPUS</h4>
                    <p>Power Mind Technologies offers college campus training on Python, Core Java, Advance Java, .Net, Android, Hadoop, PHP & Web Technology. Please mail your requirement at info@powermindtech.com.</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="section-btn">
                    <button class="btn">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="section-img">
                    <img src="assets/images/footer2.png" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="section-content">
                    <h4>GET 100S ONLINE COMPUTER COURSES</h4>
                    <p>Corporate and comprehensive technical IT training to the professionals on leading IT Technologies since 2014.</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="section-btn">
                    <button class="btn">Register Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section3">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>

<section class="section4">
    <div class="container">
        <div class="row">
            <p class="c-text">Copyrights © 2019-2020 Power Mind Technologies. All rights reserved.</p>
        </div>
    </div>
</section>