nav{
    padding: 0;
}
.nav-link{
    color: #000000;
    // padding: 20px 10px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
}
.navbar-brand{
    width: 15%;
}

.navbar-collapse{
    justify-content: end;
}
.navbar-nav{
    width: 90%;
    justify-content: space-evenly;
}