<section class="top-carousel">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <ng-container *ngFor="let item of carouselItem; let i = index">
                <div class="carousel-item" [ngClass]="i==0 ? 'active' : ''">
                    <img src={{item.imgUrl}} class="d-block w-100" alt="welcomebanner">
                </div>
            </ng-container>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="home-service" id="services">
    <div class="container">
        <div class="row">
            <div class="section-heading">
                <h1>Services Offered By <span>Us</span></h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 g-2 g-lg-3">
            <ng-container *ngFor="let service of services">
                <div class="col">
                    <div class="p-2">
                        <div class="single-service" routerLink={{service.pageUrl}}>
                            <a class="overlay">
                            <img src={{service.imgUrl}} alt={{service.name}}>
                            <span>{{service.name}}</span>
                        </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<section class="home-cources" id="training">
    <div class="container">
        <div class="row">
            <div class="section-heading">
                <h1>Top & Popular <span>Courses</span></h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3">
            <ng-container *ngFor="let course of courses">
                <div class="col">
                    <div class="p-2">
                        <div class="single-course">
                            <div class="img-area">
                                <img src={{course.imgUrl}} alt="">
                            </div>
                            <div class="content-area">
                                <h6>{{course.title}}</h6>
                                <p>{{course.subTitle}}</p>
                                <div class="btn-area">
                                    <button class="know-more-btn btn" routerLink={{course.link}}><i></i>Know
                                        More</button>
                                    <button class="inquiry-btn btn"
                                        routerLink={{course.inquiryLink}}><i></i>Inquiry</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<section class="placement" id="placement">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="our-placement">
                        <div class="placement-head-content">
                            <h4>Our Placement Partner</h4>
                            <p>100% Placement Assistance</p>
                        </div>

                    </div>
                </div>
                <ng-container *ngFor="let partner of partners">
                    <div class="row" style="margin-block:5%;">
                        <ng-container *ngFor="let item of partner;let i=index">
                            <div class="col-md-2  partners-logo">
                                <div class="partners-logo">
                                    <img src={{item.imgUrl}} alt="partners-logo">
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
           
            <div class="col-md-4">
                <div class="row">
                    <!-- <div class="our-placement">
                        <div class="placement-head-content">
                            <h4>Register Now</h4>
                            <p>Create your free account now and get immediate access to 100s of online course</p>
                        </div>

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>


<!-- **************************************  Code for the Contact us form  **************************************  -->

<section class="placement" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="our-placement">
                        <div class="placement-head-content">
                            <h4>Feel free to contact us in case of any query/Suggestion</h4>
                            <p>100% Placement Assistance</p>
                        </div>

                    </div>
                </div>
                
                <form [formGroup]="contactForm">
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your name" formControlName="name">
                        <p class="error" *ngIf="contactForm.get('name').hasError('required') && (contactForm.get('name').touched || submitted)">* Name is required</p>
                    </div>
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your email" formControlName="email">
                        <p class="error" *ngIf="contactForm.get('email').hasError('required') && (contactForm.get('email').touched || submitted)">* Email is required</p>
                    </div>
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your contact" formControlName="contact">
                        <p class="error" *ngIf="contactForm.get('contact').hasError('required') && (contactForm.get('contact').touched || submitted)">* Name is required</p>
                    </div>
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your course" formControlName="course">
                        <p class="error" *ngIf="contactForm.get('course').hasError('required') && (contactForm.get('course').touched || submitted)">* Name is required</p>
                    </div>
                    <div class="formGroup">
                        <input type="text" placeholder="Enter your message" formControlName="message">
                        <!-- <p class="error" *ngIf="contactForm.get('name').hasError('required') && (contactForm.get('name').touched || submitted)">* Name is required</p> -->
                    </div>
                    <div class="submitBtn">
                        <button type="button" (click)="submit()">Submit</button>
                    </div>
                </form>

            </div>
           
            <div class="col-md-4">
                <div class="row">
                    <!-- <div class="our-placement">
                        <div class="placement-head-content">
                            <h4>Register Now</h4>
                            <p>Create your free account now and get immediate access to 100s of online course</p>
                        </div>

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- **************************************  Contact us code ends here  **************************************   -->

<section class="about-us" id="about">
    <div class="container">
        <div class="row">
            <div class="section-heading">
                <h1>About <span>us</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="title-area">
                    <p class="title-area-title">PHOTO GALLERY</p>
                </div>
                <div class="second-container">
                    <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3">
                        <ng-container *ngFor="let image of gallery">
                            <div class="col">
                                <div class="single-img">
                                    <img src={{image.imgUrl}} alt="">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="title-area">
                    <p class="title-area-title">WHO WE ARE</p>
                </div>
                <div class="second-container">
                    <p class="title-area-title">Palin Analytics</p>
                    <p class="normal-text">Palin Analytics is a leading global consulting and technology Services Company specialized in industry specific solutions & integration and conducts Vocational, Corporate and comprehensive technical IT training to the professionals on leading IT Technologies since 2014.</p>
                    <p class="normal-text">We conduct various training for working IT/ITES/Non-IT professionals so that they can enhance their skills through our various value added training programs.</p>
                    <button class="btn extra">Know More...</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="title-area">
                    <p class="title-area-title">PLACEMENT UPDATES</p>
                </div>
                <div class="second-container">
                    <ng-container *ngFor="let placement of placementLink">
                        <div class="placement-event">
                            <div class="date-area">
                                <span>{{placement.eventDate}}</span>
                                <p>{{placement.monthYear}}</p>
                            </div>
                            <div class="link-area">
                                <p>{{placement.title}}</p>
                                <p>{{placement.text}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-service" id="blog">
    <div class="container">
        <div class="row">
            <div class="section-heading">
                <h1>Building Educational <span>Envirnoment</span></h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <ng-container *ngFor="let box of boxes">
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-img">
                            <img src={{box.imgUrl}} alt="">
                        </div>
                        <div class="box-content">
                            <h6>{{box.heading}}</h6>
                            <p>{{box.text}}</p>
                        </div>
                        <div class="box-btn">
                            <button class="btn">{{box.btnText}}</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>


