<section class="address-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <ul class="add-link">
          <li><i class="bi bi-geo-alt-fill"></i>M-12, first floor, Institutional Complex, DLF Colony Sector-14 Gurgaon 122001.</li>
          <li>/</li>
          <li><i class="bi bi-telephone-fill"></i>+91 9810600764</li>
          <!-- <li>/</li>
          <li><i class="bi bi-phone-fill"></i>+91 9810600764</li> -->
          <!-- <li>/</li>
          <li><i class="bi bi-skype"></i>+1 (209) 753-4514</li> -->
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="add-link">
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-google"></i></li>
          <li><i class="bi bi-twitter"></i></li>
        </ul>
      </div> 
    </div>
  </div>
</section>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>