<section class="address-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <ul class="add-link">
          <li><i class="bi bi-geo-alt-fill"></i>M-31, first floor Old DLF Colony near FedEx courier Sector-14 Gurgaon</li>
          <li>/</li>
          <li><i class="bi bi-telephone-fill"></i>+91-124-4009305/4010968</li>
          <li>/</li>
          <li><i class="bi bi-phone-fill"></i>+91 9354210902</li>
          <li>/</li>
          <li><i class="bi bi-skype"></i>+1 (209) 753-4514</li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="add-link">
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-google"></i></li>
          <li><i class="bi bi-twitter"></i></li>
        </ul>
      </div> 
    </div>
  </div>
</section>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>