<section class="banner-section">
    <img src="assets/images/about-us-banner.png" alt="">
</section>
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="about-content">
            <div class="top-content">
                <h4>About Company</h4>
                <p>Power Mind Technologies (PMT)is a leading global consulting and technology Services Company specialized in industry specific solutions & integration and conducts Vocational, Corporate and comprehensive technical IT training to the professionals on leading IT Technologies since 2014.
                    We conduct various training for working IT/ITES/Non-IT professionalsso that they can enhance their skills through our various value added training programs.
                    Our Aim, Mission & Vision is to provide quality training to professionals & individuals related to IT/ITES & Engineering sector by our industry experts.</p>
            </div>
            <div class="bottom-content">
                <h4>Why Us</h4>
                <ol>
                    <li>Successfully shaping careers since 2014.</li>
                    <li>3,500+ professionals trained.</li>
                    <li>110+ Trainings covered.</li>
                    <li>200+ Certified Professional & Corporate Trainers who are expert in their respective domains.</li>
                    <li>100 % Job assistance to candidates.</li>
                    <li>Real Time Industrial Projects as PER CMML5 standard.</li>
                    <li>One-stop knowledge platform for classroom studies/technical workshops/on-campus/CEIS-IBM liveProject / Summer/Winter & Industrial Training.</li>
                    <li>Well defined Infrastructure (all state- of-the-art facilities including LCDs, Projectors, Wi-Fi and login to liveSoftware in the class)</li>
                    <li>Updated course contents designed by Industry experts.</li>
                    <li>Training of candidates from Industry & Certified Corporate Trainers.</li>
                    <li>Teaching methodology based on Industry Parameters.</li>
                    <li>Conduction of Corporate Trainings.</li>
                </ol>
            </div>
        </div>
        </div>
    </div>
</section>