/* You can add global styles to this file, and also import other style files */
$error: rgb(255,0,51);
.banner-section img{
    width: 100%;
}


// CSS for the error message 
.formGroup{
    position: relative;
}
.error{
    color: $error;
    position: absolute;
    // transform: translate(-50%,-50%);
    // top: 90%;
    // left: 15%;
    font-size: 12px;
}