<section class="banner-section">
    <img src="assets/images/placement-banner.png" alt="">
</section>
<section class="contact-form-section py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="background: #1f4363; color: white;">
                <div class="main">
                    <div class="content-heading">
                        <h2>PLACEMENT ASSISTANCE</h2>
                    </div>
                    <div class="contact-content">
                        <p>We have a dedicated placement cell and established rapport with well-reputed companies from different locations & sectors. As per the past record of placement, fresher take home a minimum average salary of INR 10K to 15K per month from different organizations and an average of INR 3 lakh per annum from various MNCs.
                            <br>We prepare candidates to crack interview on his/her responsibility and do provide placement assistance after successful completion of training by sending candidates for interview. We assist candidate in following manner before sending to final interview:</p>
                            <ul>
                                <li>Resume/CV preparation</li>
                                <li>Conduction of Mock Interview</li>
                                <li>Preparation of FAQs in technical round</li>
                                <li>Brush up on Communication skills.</li>
                            </ul>
                        </div>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>